name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ ubuntu-22.04, ubuntu-24.04 ]
    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup cargo
      run: cargo install cargo-deb

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Run clippy
      run: cargo clippy --verbose

    - name: Create debian package
      run: cargo deb

    - name: Setup integration tests
      run: |
        sudo apt-get update
        sudo apt-get install -y bats

    - name: Run integration tests
      run: bats test

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: fetch-${{ matrix.platform }}.deb
        path: target/debian/fetch_*_amd64.deb 

